header {
    background-color: rgba(255, 192, 203, 0.164);
}

a {
    text-decoration: none !important; 
    color: #1c115e !important;
    font-weight: bold !important;
    border-radius: 1rem;
    transition: all .3s;
}

a:hover {
    background-color: rgba(255, 0, 0, 0.124);
}